<form #addForm="ngForm">
    <div class="form-group">
        <label for="title">Title</label>
        <input required ngModel #title="ngModel" name="title" id="exampleInputEmail1" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea required ngModel #message="ngModel" name="message" class="form-control" id="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!addForm.form.valid" (click)="AddPost(addForm.form)">Add</button>
    <button class="btn btn-info" (click)="goBack()" style="margin-left: 10px;">Go Back</button>
</form>