<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="landing">
    <div class="title">
        <p>Welcome to your personal online fitness trainer</p>
        <q class="titles">Action is the foundational key to all success.</q>
        <p class="titles">Pablo Picasso</p>
    </div>
    <div class="scroll">
    <p>Scroll down to learn more about us</p>
    <span class="fa fa-arrow-down"></span>
    </div>
</div>

<div id="services" style="background-color: #dedede; padding: 50px;">
    <div class="row align-items-center w-100">
        <div class="text-center col-12 text-white">
            <h3 style="color:  #484858;" >Што прави оваа апликација?</h3>
            <hr style="width: 100px; background-color:  #484858;">
        </div>

        <div class="col-md-3 col-sm-12 card text-white text-center" style="background-color: #dedede; border:0;">
            <div class="card-img-top rounded-circle align-self-center" style="background:   #484858 ; color: #dedede; height: 100px; width: 100px">
                <i class="fa fa-align-justify" style="font-size:48px; padding:25%"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color:  #484858;">Ние објавуваме докажани спортски вежби</h5>
                <p class="card-text " style="color:  #484858;">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 card text-white text-center" style="background-color: #dedede; border:0;">
            <div class="card-img-top rounded-circle align-self-center" style="background:   #484858 ; color: #dedede; height: 100px; width: 100px">
                <i class="fa fa-sort-amount-asc " aria-hidden="true" style="font-size:48px; padding:25%"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color:  #484858;">Вие го следите подобрувањето на членовите</h5>
                <p class="card-text " style="color:  #484858;">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 card text-white text-center" style="background-color: #dedede; border:0;">
            <div class="card-img-top rounded-circle align-self-center" style="background:   #484858 ; color: #dedede; height: 100px; width: 100px">
                <i class="fa fa-align-justify" style="font-size:48px; padding:25%"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color:  #484858;">Форум на кој објавуваат тренерите</h5>
                <p class="card-text " style="color:  #484858;">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 card text-white text-center" style="background-color: #dedede; border:0;">
            <div class="card-img-top rounded-circle align-self-center" style="background:   #484858 ; color: #dedede; height: 100px; width: 100px">
                <i class="fa fa-cutlery" style="font-size:48px; padding:25%"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color:  #484858;">Објавуваме одлични рецепти за здрава исхрана</h5>
                <p class="card-text " style="color:  #484858;">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit</p>
            </div>
        </div>
    </div>
</div>