<form #addForm="ngForm">
    <div class="form-group">
        <label for="title">Title</label>
        <input required ngModel #title="ngModel" name="title" id="exampleInputEmail1" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea required ngModel #description="ngModel" name="description" class="form-control" id="description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Add Image Url</label>
        <input required ngModel #url="ngModel" class="form-control" name="url" id="url">
        <img *ngIf="url.value" class="center" [src]="url.value" style="width: 500px;">
    </div>

    <h3 style="margin-top: 20px;">Recipes: </h3>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <label
          formArrayName="orders"
          *ngFor="let order of form.value.orders ; let i = index" style="display: block;">
          <input type="checkbox" [formControlName]="i" />
          {{ordersData[i].name}}
        </label>
      
        <div *ngIf="!form.valid">At least one order must be selected</div>
        <button class="btn btn-primary" style="margin-bottom: 10px;">submit</button>
      </form>

    <button type="submit" class="btn btn-primary" [disabled]="!addForm.form.valid" (click)="AddThisForm(addForm.form)">Add</button>
    <button class="btn btn-info" (click)="goBack()" style="margin-left: 10px;">Go Back</button>
</form>
