.card{
    display: inline-block;
    margin: 10px;
    width: 350px !important;
}
.card-img-top {
    height: 200px;
}

.card-body{
    height: 100px;
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

button {
    position: absolute;
    bottom: 10px;
    width: 85%;
}